<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}}</title>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="jumbotron text-center">
    <div class="container">
        <img class="octo" src="images/octo.png" alt="virgo agent toolkit">
        <h1>Virgo Agent Toolkit</h1>
          <p class="lead">Virgo is an open-source project for building lightweight, interoperable, cross-platform agents.</p>
    </div>
  </div>
  <div class="container-fluid">
    {{ content }}
  </div>
  <script type="application/javascript" src="js/jquery.min.js"></script>
  <script type="application/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
